.feed {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  color: white;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.feed__logo {
  width: 4rem;
  height: 4rem;
}
.feed__logo-image {
  width: 4rem;
  height: 4rem;
}
.feed__main {
  display: flex;
  flex-grow: 1;
  background-color: #f8f9fa;
}

.feed__sidebar {
  background-color: white;
  padding: 1rem;
  min-width: 32rem; /* Ajusta según necesidad */
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.feed__button {
  border-radius: 0.8rem;
  border: none;
  text-align: start;
  color: #343a40;
  background-color: transparent;
  /* padding:  1.2rem 0rem; */
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  align-items: center; /* Alinea verticalmente el icono y el texto */
  gap: 10px;
  padding: 0.4rem;
  margin-bottom: 0.8rem;
}

.feed__icon {
  flex-shrink: 0;
  width: 20px;
}
.feed__button:hover {
  color: #007bff;
}

.feed__friends {
  background-color: white;
  padding: 1rem;
  min-width: 32rem; /* Ajusta según necesidad */
}
.feed__friends h3 {
  color: #343a40;
  font-size: 2.2rem;
}
.feed__friends ul {
  list-style: none;
}
.feed__friends li {
  border-radius: 0.8rem;
  border: none;
  color: #343a40;
  background-color: transparent;
  padding: 1.2rem 0rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.feed__friends li:hover {
  color: #007bff;
}

.feed__posts {
  flex-grow: 1;
  margin: 0rem 4rem;
  overflow-y: auto; /* Para el scroll de posts */
  display: flex;
  padding-top: 1.6rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;

  background-color: white;
}

.post {
  /* background-color: white; */
  width: 90%;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  background-color: #f8f9fa;
}

.post__username {
  font-size: 1.8rem;
  color: #343a40;
  /* margin-bottom: 1.6rem; */
}
.post__content {
  font-size: 1.6rem;
  color: #343a40;
  margin-bottom: 0.8rem;
}
.post__image {
  margin-bottom: 0.8rem;
  width: 100%;
  border-radius: 0.8rem;
}
.post__stadistics {
  margin-bottom: 0.8rem;
}
.post__comment-quantity {
  font-size: 1.4rem;
}
.post__buttons {
  display: flex;
  gap: 1.2rem;
  border-top: 0.5px solid #d9d9d9;
  border-bottom: 0.5px solid #d9d9d9;
  padding: 0.8rem 0rem;
  margin-bottom: 1.6rem;
}
.post__button {
  font-size: 1.6rem;
  border-radius: 0.8rem;
  color: #343a40;
  border: none;
  padding: 0.8rem 2.2rem;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  /* background-color: red; */
}

.post__button--liked {
  color: #007bff;
}
.user__settings a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.user__settings a:hover {
  text-decoration: underline;
}

/* Estilos adicionales para botones y otros elementos como necesites */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que sea superior a cualquier otro elemento */
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 52rem;
  width: 100%;
}
.comment {
  border: 0.5px solid rgb(236, 236, 236);
  border-radius: 0.8rem;
  margin-bottom: 0.8rem;
}
.modal_post {
  overflow-x: hidden; /* Oculta el desplazamiento horizontal */
  overflow-y: auto; /* Habilita el desplazamiento vertical automáticamente cuando sea necesario */
  max-height: 68rem; /* Ajusta esto según la altura máxima deseada */
}
/* Firefox */
.modal_post {
  scrollbar-width: thin; /* "auto", "thin", "none" */
  scrollbar-color: #888 #f1f1f1; /* color del control deslizante y color de la pista */
}
/* Estiliza la barra de desplazamiento para navegadores WebKit */
.modal_post::-webkit-scrollbar {
  width: 12px; /* Ancho de la barra de desplazamiento */
}

.modal_post::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color de fondo de la pista de desplazamiento */
  border-radius: 10px; /* Bordes redondeados para la pista */
}

.modal_post::-webkit-scrollbar-thumb {
  background: #888; /* Color de fondo del control deslizante de desplazamiento */
  border-radius: 10px; /* Bordes redondeados para el control deslizante */
}

.modal_post::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color de fondo del control deslizante al pasar el mouse */
}
.modal_post {
  width: 100%;
  margin-bottom: 1rem;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  background-color: #f8f9fa;
}
.comment__username {
  font-size: 1.4rem;
}
.comment__content {
  font-size: 1.6rem;
}
.comment__date {
  font-size: 1.2rem;
}
.input__box {
  width: 100%;
}
.input__box__comment {
  width: 100%;
  border: none;
  border-radius: 0.8rem;
  padding: 2rem 0.4rem;
  background-color: #f0f0f0; /* Color de fondo ligero para el input */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra sutil para profundidad */
  font-size: 1rem; /* Tamaño de fuente adecuado */
  color: #333; /* Color de texto oscuro para contraste */
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.input__box__comment:focus {
  outline: none; /* Elimina el borde/outline al hacer clic */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al enfocar */
}
.input__box__send-button {
  padding: 0.8rem 2rem; /* Espaciado interno generoso */
  background-color: #007bff; /* Tu color principal azul */
  color: white; /* Contraste alto con el texto blanco */
  border: none; /* Sin bordes */
  border-radius: 0.8rem; /* Bordes redondeados para un aspecto suave */
  font-size: 1rem; /* Tamaño de fuente legible */
  cursor: pointer; /* Cursor en forma de mano para indicar interactividad */
  transition: background-color 0.3s, transform 0.2s; /* Transiciones suaves */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Sombra sutil para efecto de profundidad */
}

.input__box__send-button:hover {
  background-color: #0069d9; /* Un tono ligeramente más oscuro para el estado hover */
  transform: scale(
    1.05
  ); /* Efecto de "crecimiento" ligeramente al pasar el mouse */
}

.input__box__send-button:active {
  background-color: #005cbf; /* Un tono aún más oscuro para el estado active */
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); /* Sombra más sutil para imitar el efecto de presión */
  transform: scale(0.98); /* Efecto de "presión" al hacer clic */
}

.input__box__send-button:focus {
  outline: none; /* Elimina el contorno al enfocar */
}
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.2rem;
}

.modal-close-icon {
  cursor: pointer;
  color: #343a40; /* Ajusta el color según tu diseño */
  font-size: 24px; /* Ajusta el tamaño según necesites */
}
.no-scroll {
  overflow: hidden;
}


/* form */

/* Formulario de Nuevo Post */
.new-post-form {
  background-color: #fff;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.new-post-form__title,
.new-post-form__content,
.new-post-form__image {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.new-post-form__title:focus,
.new-post-form__content:focus,
.new-post-form__image:focus {
  border-color: #007bff;
  outline: none;
}

.new-post-form__content {
  min-height: 100px; /* Ajusta según necesidad */
}

.new-post-form__submit {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.new-post-form__submit:hover {
  background-color: #0056b3;
}

