.feed {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.feed__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 1rem;
  color: white;
  border-bottom: 1px solid rgb(245, 245, 245);
}
.feed__logo {
  width: 4rem;
  height: 4rem;
  flex: 1;

}
.feed__logo-image {
  width: 4rem;
  height: 4rem;
}
.feed__main {
  display: grid;
  grid-template-columns: repeat(12, 1fr); /* Crea 12 columnas de igual tamaño */
  grid-template-rows: repeat(12, 1fr); /* Crea 12 columnas de igual tamaño */
  background-color: #f8f9fa;
}

.feed__sidebar {
  background-color: white;
  padding: 1rem;
  /* min-width: 32rem; Ajusta según necesidad */
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  grid-column: 1 / 4;
  grid-row: 1 / 13;

}
.feed__button {
  border-radius: 0.8rem;
  border: none;
  text-align: start;
  color: #343a40;
  background-color: transparent;
  /* padding:  1.2rem 0rem; */
  font-size: 1.8rem;
  cursor: pointer;
  display: flex;
  align-items: center; /* Alinea verticalmente el icono y el texto */
  gap: 10px;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;

}

.feed__icon {
  flex-shrink: 0;
  width: 20px;
}
.feed__button:hover {
  color: #007bff;
  background: #ececec;

}
.feed__button.active {
  color: #007bff;
  background-color: #ececec;
}

.feed__friends {
  background-color: white;
  padding: 1rem;
  /* min-width: 32rem; Ajusta según necesidad */
}
.feed__friends h3 {
  color: #343a40;
  font-size: 2.2rem;
}
.feed__friends ul {
  list-style: none;
}
.feed__friends li {
  border-radius: 0.8rem;
  border: none;
  color: #343a40;
  background-color: transparent;
  padding: 1.2rem 0rem;
  font-size: 1.8rem;
  cursor: pointer;
}

.feed__friends li:hover {
  color: #007bff;
}

.feed__posts {
  flex-grow: 1;
  margin: 0rem 4rem;
  overflow-y: auto; /* Para el scroll de posts */
  display: flex;
  padding-top: 1.6rem;
  flex-direction: column;
  align-items: center;
  border-radius: 1.2rem;

  background-color: white;
  grid-column: 4 / 10;
  grid-row: 1 / 13;

}

.post {
  /* background-color: white; */
  width: 90%;
  margin-bottom: 2rem;
  padding: 2rem 2rem 0 2rem;
  box-shadow: 7px 7px 4px rgba(0, 0, 0, 0.1);
  border-radius: 0.8rem;
  background-color: #f8f9fa;
}
.post__username {
  font-size: 1.8rem;
  color: #343a40;
  /* margin-bottom: 1.6rem; */
}
.post__content {
  font-size: 1.6rem;
  color: #343a40;
  margin-bottom: 0.8rem;
}
.post__image {
  margin-bottom: 0.8rem;
  width: 100%;
  /* background-image: contain; */
}
.post__buttons {
  display: flex;
  gap: 1.2rem;
  border-top: 0.5px solid #d9d9d9;
  border-bottom: 0.5px solid #d9d9d9;
  padding: 0.8rem 0rem;
  /* background-color: #fff; */
}/*
.post__button {
  font-size: 1.6rem;
  border-radius: 0.8rem;
  color: #343a40;
  border: none;
  padding: 0.8rem 1.5rem;
  width: 100%;
  cursor: pointer;
  background-color: transparent;
  /* background-color: red; */
/*}

.post__button--liked {
  color: #007bff;
}*/
.user__settings a {
  color: white;
  text-decoration: none;
  margin-left: 1rem;
}

.user__settings a:hover {
  text-decoration: underline;
}

/* Estilos adicionales para botones y otros elementos como necesites */

.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 52rem;
  width: 100%;
}
@media (max-width: 768px) {

  .post__buttons{
    font-size: 1.4rem;
  }
  .post__button{
    font-size: 1.4rem;
  }
  .feed__posts{

    grid-column: 1 / 13;
    grid-row: 1 / 13;
    /* background-color: red; */
  }
}
@media (max-width: 768px) {
  
}